@tailwind base;
@tailwind components;
@tailwind utilities;

.animate {
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
  }
  
  .animate.bottom-0 {
    transform: translateY(-100px); /* This defines the vertical animation distance */
  }



  .item {
    min-width: 40%;
  }